language: ruby

rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
  - ruby-head
matrix:
  allow_failures:
    - rvm: jruby-19mode
before_install:
  - sudo apt-get install libpcre3 libpcre3-dev

notifications:
  irc: "irc.freenode.org#adhearsion"
