language: ruby

rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
  - ruby-head

before_install:
  - sudo apt-get install libpcre3 libpcre3-dev

notifications:
  irc: "irc.freenode.org#adhearsion"
